.list {
	margin: auto;
	border: 1px solid #000000;
}

.description {
	border: 1px solid #000000;
}

table {
	border-collapse: collapse;
}

.budget {
	text-align: right;
}

hr {
	border: 1px solid orange;
}

.popup-position {
	display: none; position : fixed;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.7);
	width: 100%;
	height: 100%;
	position: fixed;
}

#popup-wrapper {
	width: 500px;
	margin: 70px auto;
	text-align: left;
}

#popup-container {
	background-color: #FFF;
	width: 500px;
	height: 500px;
	padding: 20px;
}

.width{
	width: 350px;
	height: 22px;
}

.button-submit {
  width: 200px;
  height: 40px;
  font: 18px/1.25px Helvetica;
  border-radius: 20px;
  border: 4px double #fff;
  background: orange;
  box-shadow: 0 0 10px rgb(180,180,180);
  margin-bottom: 20px;
  margin-top: 20px;
}

.pagination-centered {
	text-align: center;
}

.thumbnail .caption-full {
    padding: 9px;
    color: #333;
}

.ratings {
    padding-right: 10px;
    padding-left: 10px;
    color: #d17581;
}


.thumbnail img {
    width: 100%;
}

.ratings {
    padding-right: 10px;
    padding-left: 10px;
    color: #d17581;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
    color: #333;
}


.modal-content {
	display: none;
}

#fade-background {
	position: fixed;
	_position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000000;
	z-index: 2;
}
#modal-window {
	position: fixed;
	top: 64px;
	left: 50%;
	width: 860px;
	background-color: #F9F9F9;
	margin: 0 0 0 -430px;
	z-index: 3;
}


#fixblock {
width: 300px; /* ширина блока fixblock */
height: 260px; /* высота блока fixblock */
float:left; /* распологаем блок в левой части экрана */
margin:20px;
text-align:center; /* центрируют текст блока fixblock */
position:fixed; /* параметр, при помощи которого мы фиксируем div-блок */
}

